.banner {
    height: 605px;

    background-image: url(../images/banner.png);
    background-color: #0c465f;

    box-shadow: inset 0px 110px 120px 7px black,inset 0px -110px 120px -7px black;
}

.banner-content {
    font-size: 20px;
    gap: 16px;
}

.banner-content .logo {
    width: 268px;
    height: 268px;

    display: flex;

    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.banner-content h1 {
    color: #3BA1CD;
    font-size: 40px;
    text-transform: uppercase;
}

.banner-content p {
    width: 516px;
    
}

.banner-content button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0);

    color: #3BA1CD;
    border-color: #3BA1CD;

    padding: 19px 91px;
    gap: 31px;
}