

#course-content {
    margin: 50px auto;
}

#course-content h2 {
    color: #3BA1CD;

    font-size: 32px;
    text-transform: uppercase;

}

#course-content p{
    width: 792px;
}

#course-content p,
.modules-list{
    margin: 20px 0px;
}



.module{
    width: 535px;
    height: 51px;
    font-size: 16px;
    border-width: 1px;
    
    border-style: solid;

    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 70px;
    padding-top: 11px;

    background-color: rgb(59, 59, 59);
    border-color:#3BA1CD;
    span{
        color: #3BA1CD;
    }

    box-shadow: inset 1px 5px 10px 8px rgb(39, 39, 39);
}
