@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url(./reset.css);
@import url(./banner.css);
@import url(./course.css);
@import url(./transform-world.css);

* {
    margin: auto;
    text-align: center;
    font-family: "Raleway", sans-serif;

    color: #ffffff;
}

.banner,
.banner-content,
footer,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    background-color: black;
}

h2 {
    color: #3BA1CD;

    font-size: 32px;
    text-transform: uppercase;
}

#professional-challenges{
    margin-top: 50px;
    margin-bottom: 50px;

    h2{
        width: 817px;
    }

    p{
        width: 825px;
    }
}


footer{
    background-color: #0c465f;
    height: 170px;

    box-shadow: inset 0px 110px 120px 7px black;
    
    border: 1px solid #3BA1CD;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;

    .dio-logo{
        margin-top: 70px;
    }
    p{
        margin-bottom: 40px;
    }
}